body {
  margin: 0;
  font-family: Roboto;
  background-color: rgb(4, 21, 45);
  color: white;
  box-sizing: border-box;
}

/*  Section first  */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 5px;
  color: white;
  background: linear-gradient(to right, rgb(18, 44, 90), rgb(7, 26, 54));
  font-size: 1.1rem;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.AA {
  display: flex;
  padding: 2px;
  justify-content: space-evenly;
  align-items: center;
  font-family: Roboto;
  background: linear-gradient(to right, rgb(18, 44, 90), rgb(7, 26, 54));
}

@media (max-width: 480px) {
  .AA {
    flex-direction: column-reverse;
    font-size: smaller;
  }
  .navbar{
    font-size: smaller;
  }
}
/* Section second */
.BB {
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
}
.CC {
  display: flex;
  align-items: center;
  width: 320px;
}

.BB .CC:hover {
  background: linear-gradient(to right, rgb(110, 117, 129), rgb(18, 44, 90));
}

@media (max-width: 672px) {
  .BB {
    flex-direction: column;
    align-items: center;
    font-size: smaller;
    background-color: black;
  }
}

/* section third */

.imag {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.EE {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgb(23, 53, 105), rgb(0, 2, 5));
}
.FF {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 650px) {
  .FF {
    flex-direction: column;
    justify-content: flex-start;
  }
  .imag {
    gap: 30px;
  }
}

/* section forth */

.HH{
  display: flex;
  justify-content: space-evenly;
}

.JJ{
  background-color: #19376D;
  padding: 5px;
}
.KK{
  display: flex; justify-content:space-around ;
}
.KK p{
  background-color: #0B2447; 
  padding: 4px;
  border-radius: 8px;
}
.K{
  display: flex; justify-content:space-around;
}

.K button{
  background-color: #576CBC; 
  padding: 4px;
  border-radius: 8px;
  border: none;
  color: white;
}

@media (max-width: 790px) {
  .HH {
    flex-direction: column;
    display: grid;
  }
  .KK, .K{
    display: inline-flex;
  }
}


/* section fifth */

.LL{
  display: inline-flex;
}

.MM{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(25, 55, 109);
  align-items: center;
}


@media (max-width: 500px) {
    .MM{
      display: grid;
    }
}